[Unit]
Description=VXLANs configurator - startup script
Documentation=https://github.com/GEANT/nomad_cni
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
RemainAfterExit=true
User=root
Group=root
TimeoutStartSec=0
Restart=on-failure
RestartSec=30s
ExecStart=/usr/local/bin/vxlan-configurator.sh --systemd --force --id all
ExecStop=/usr/local/bin/vxlan-configurator.sh --systemd --force --down --id all
SyslogIdentifier=VXLAN-configurator

[Install]
WantedBy=multi-user.target
