[Unit]
Description=VXLANs configurator - startup script
Documentation=https://github.com/GEANT/nomad_cni
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
RemainAfterExit=true
Environment="STARTED_BY_SYSTEMD=yes"
User=root
Group=root
TimeoutStartSec=0
Restart=on-failure
RestartSec=30s
ExecStart=/usr/local/bin/vxlan-configurator.sh --force --status up --name all
ExecStop=/usr/local/bin/vxlan-configurator.sh --force --status down --name all
SyslogIdentifier=VXLAN-configurator

[Install]
WantedBy=multi-user.target
